<section id="cats" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Pictures Of Us</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="/img/engagement_photos/Sandra&Michael_06.jpg">
            </div>

            <div class="col-md-6">
                <img src="/img/engagement_photos/Sandra&Michael_23.jpg">
            </div>
            <div class="col-md-6">
                <img src="/img/engagement_photos/Sandra&Michael_27.jpg">
            </div>

            <div class="col-md-6">
                <img src="/img/engagement_photos/Sandra&Michael_37.jpg">
            </div>
            <div class="col-md-6">
                <img src="/img/engagement_photos/Sandra&Michael_38.jpg">
            </div>

            <div class="col-md-6">
                <img src="/img/engagement_photos/Sandra&Michael_46.jpg">
            </div>
            <div class="col-md-6">
                <img src="/img/engagement_photos/Sandra&Michael_49.jpg">
            </div>

            <div class="col-md-6">
                <img src="/img/engagement_photos/Sandra&Michael_61.jpg">
            </div>
            <div class="col-md-6">
                <img src="/img/engagement_photos/Sandra&Michael_63.jpg">
            </div>

            <div class="col-md-6">
                <img src="/img/engagement_photos/Sandra&Michael_70.jpg">
            </div>
            <div class="col-md-6">
                <img src="/img/engagement_photos/Sandra&Michael_74.jpg">
            </div>
        </div>
    </div>
</section>

  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {% comment %}
                    <span class="copyright">Copyright &copy; {{ site.title }} 2014</span>
                    {% endcomment %}
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        {% comment %}
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                        {% endcomment %}
                    </ul>
                    <p>Site design based on <a href="http://startbootstrap.com/template-overviews/agency/">Agency</a> from Start Bootstrap</p>
                </div>
            </div>
        </div>
    </footer>
