    <section id="lodging" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row text-center">                
                        <div class="col-md-12 text-center">
                            <h2 class="section-heading">Travel &amp; Lodging</h2>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <h4>Getting Here</h4>
                        <p>We recommend flying into George Bush Intercontinental Airport (IAH), which is Houston's main airport. </p>
                        <h4>Getting Around</h4>
                        <p> The most straightforward option is to rent a car, since the public transportation in Houston is not so well suited to the huge city sprawl and certainly will not reach the outskirts of the city and beyond, like where our venue is located.</p>
                        <p> If you're not renting a car, we would suggest taking the shuttle from one of our recommended hotels to get to the venue on the wedding day. For all other transportation needs use services like Lyft and Uber to get around Houston city proper.</p>
                        <h4>Lodging</h4>
                        <p>We have reserved a block of rooms at the <a href="https://www.hilton.com/en/hotels/houspht-home2-suites-houston-westchase/">Hilton Home2Suites Westchase</a> in Houston, and at the <a href="https://www.wyndhamhotels.com/laquinta/conroe-texas/la-quinta-conroe/overview">La Quinta Inn & Suites by Wyndham</a> in Conroe (which is much closer to the venue).</p>
                        <p>Please <a href="http://group.home2suites.com/CaiChangWedding">follow this link</a> if you would like to use our discounted rate at the Hilton Home2Suites (~$82 per night for a room with two queen beds and ~$79 per night for a room with a single king bed).</p>
                        <p>If you would like to get our discounted rate with La Quinta (~$84 per night for a room with two queen beds), please call them at 936-228-0790 and tell them that you are booking as part of Michael Cai and Sandra Chang's Wedding.</p>
                        <p>If you would prefer to find alternate living arrangements via AirBnB or a different hotel option, then be sure to look for options in and around Lake Conroe and the Woodlands to be close to the venue. Otherwise, downtown Houston has a lot of great food and entertainment to offer! So if you'd prefer to be closer to downtown, there are plenty of good options there too.
                    </div>
                </div>
                <div class="col-md-4 pic">
                    <img class="pic" src="/img/engagement_photos/Sandra&Michael_37.jpg">
                </div>
            </div>
        </div>
    </section>
