    <section id="meet_the_party" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row text-center">                
                        <div class="col-md-12 text-center">
                            <h2 class="section-heading">Meet The Party</h2>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <img class="pic" style="width:35%; height:auto; padding:0 15px;
                        float:left;" src="/img/wedding_party/michael_c.jpg">
                        <h3>Michael Cai</h3>
                        <h4>Groom</h4>
                        <p>Hi! I'm Michael. I am overjoyed to be able to celebrate my
                        wedding this December with so many close friends and family members.
                        Sandra and I met during our college years at New York University,
                        bonded over our shared love of movies, board games, and asian
                        food, and are now beginning a new adventure in Evanston, Illinois
                        (just outside of Chicago) as I start my PhD program at
                        Northwestern.<br>
                        When I am not thinking about politics and policy, listening to podcasts,
                        or interrupting a conversation with a corny joke,
                        I enjoy playing basketball, and singing and playing guitar and
                        piano. Whether it is jazz or neo-soul, classic rock, contemporary
                        Christian music, or an indie movie soundtrack, I love getting lost
                        in what I'm listening to.
                        </p>
                        <br><br><br><br><br>

                        <img class="pic" style="width:40%; height:auto; padding:0 15px;
                        float:right;" src="/img/wedding_party/tina_placeholder.jpg">
                        <h3>Sandra Chang</h3>
                        <h4>Bride</h4>
                        <p>Insert text here</p>
                        <br><br><br><br><br><br><br><br><br><br><br>

                        <img class="pic" style="width:40%; height:auto; padding:0 15px;
                        float:left;" src="/img/wedding_party/kevin_l.jpg">
                        <h3>Kevin Liu</h3>
                        <h4>Best Man</h4>
                        <p>Hi! I'm Kevin. I am a newly minted pastor, and I
                        enjoy having deep conversations and being a goofball with others.
                        I initially got to know Michael through leading a men's bible study with him as
                        part of the Asian American Christian Fellowship at NYU.
                        Following that during our weekly video chats, phone calls, or
                        breakfast meetups, we got to deepen our understanding of one
                        another's greatest hopes and dreams as well as our enduring struggles.
                        <br>
                        I am truly glad we were able to "do life together" over the past six years!
                        The countless nights I've spent with Sandra and Michael, eating dinner and
                        playing board games will always be one of my warmest, favorite
                        memories of the time we've shared. I am looking forward to celebrating
                        their love for one another!</p>
                        <br><br><br>

                        <img class="pic" style="width:35%; height:auto; padding:0 15px;
                        float:left;" src="/img/wedding_party/warren_h.jpg">
                        <h3>Warren Halliday</h3>
                        <h4>Groomsman</h4>
                        <p>Hi! I'm Warren. Michael and I met in Bellaire high school choir.
                        Through a shared passion for tomfoolery and German speed-singing,
                        our grand friendship was born!
                        During those days, we would watch endless re-runs of SportsCenter
                        while playing pool, record covers of songs, like Baby
                        by Justin Bieber, watch NBA Finals games at Buffalo Wild Wings,
                        and play Call of Duty from dawn to dusk.
                        I'm glad to see Michael finally found someone to keep his
                        goofiness in check!

                        </p>
                        <br><br><br><br><br><br><br><br><br>

                        <img class="pic" style="width:35%; height:auto; padding:0 15px;
                        float:left;" src="/img/wedding_party/andrew_h.png">
                        <h3>Andrew Hess</h3>
                        <h4>Groomsman</h4>
                        <p>Hi! I'm Andrew, and I'm honored to be a groomsman (and work league softball
                        captain and friend) of one of the kindest, hardest working, and punniest RAs at
                        the Federal Reserve Bank of New York.
                        This year, I started my PhD at UCLA, hoping to
                        work on issues related to education and labor.<br>
                        <b>For fans of The West Wing:</b>
                        <i>"Mallory, education is the silver bullet. Education is everything.
                        We don't need little changes, we need gigantic, monumental changes.
                        Schools should be palaces. The competition for the best teachers should be fierce.
                        They should be making six-figure salaries. Schools should be incredibly expensive
                        for government and absolutely free of charge to its citizens, just like national defense.
                        That's my position. I just haven't figured out how to do it
                        yet."</i>

                        </p>
                        <br><br><br><br>

                        <img class="pic" style="width:40%; height:auto; padding:0 15px;
                        float:left;" src="/img/wedding_party/ray_l.png">
                        <h3>Raymond Low</h3>
                        <h4>Groomsman</h4>
                        <p>Hi, I'm Ray! I am a pastor, part-time professor (Linear Algebra
                        <em> Boo. </em> Calculus <em> Yay! </em>), and
                        photographer (who covertly took photos for Michael and Sandra's
                        engagement).
                        I've known “Mandra” since the start of their relationship,
                        when ebola "prevented" Michael from going to study abroad and parting with his love.
                        Since then they have been a huge blessing to everyone around them,
                        and I've just been along for the ride!</p>
                        <br>

                        <img class="pic" style="width:35%; height:auto; padding:0 15px;
                        float:left;" src="/img/wedding_party/edward_y.jpg">
                        <h3>Edward Yun</h3>
                        <h4>Groomsman</h4>
                        <p>Hi, I'm Edward! I am a childhood friend of Michael's, whose known him
                           since we were both still in diapers. From
                           elementary through high school we were inseparable, making
                           mischief, working out, and lazing about at my house.
                           I'm glad the day has finally come to celebrate these two tying
                           the knot!
                        </p>
                        <br><br><br><br><br><br><br><br><br><br><br>

                        <img class="pic" style="width:35%; height:auto; padding:0 15px;
                        float:right;" src="/img/wedding_party/tina_s.jpg">
                        <h3>Tina Sun</h3>
                        <h4>Matron of Honor</h4>
                        <p>Hi! I'm Tina, and as Sandra's one and only older sister,
                        I've known her for as long as she has been alive.
                        I still remember the day she told me about Michael,
                        and it's been a joy to watch them grow in their relationship since.
                        Can't wait to celebrate with them on their wedding day!

                        I currently live in Boston with my husband and newborn baby boy.
                        The wedding will be our baby's first gig as a ring boy -
                        we're working on making sure he doesn't steal the show the day of
                        :).</p>
                        <br><br><br><br><br><br><br><br><br><br><br>

                        <img class="pic" style="width:35%; height:auto; padding:0 15px;
                        float:right;" src="/img/wedding_party/anna_l.jpg">
                        <h3>Anna Lin</h3>
                        <h4>Bridesmaid</h4>
                        <p>Hi, I'm Anna.
                        I am a potato who has enough energy to power up your house for days.
                        I love the creative arts and hope one day I will be working in a field
                        where I can thrive and empower others. 
                        <br>
                        I met Sandra because she thought we had the same bedsheets!
                        We both dormed in Founders and was in the AACF freshman group.
                        We both enjoy sharing God's love so it was something we connected over
                        and was able to do it freely because we were freshies.

                        I met Michael when I saw Sandra was dating this man!
                        I immediately messaged Michael and said, "You better take care of my bae!"
                        before we even met.
                        I can't believe the day has come where I handover my Sandra to the man who got her heart! 
                        </p>
                        <br><br><br><br><br><br>

                        <img class="pic" style="width:40%; height:auto; padding:0 15px;
                        float:right;" src="/img/wedding_party/jackie_m.jpg">
                        <h3>Jackie Malabanan</h3>
                        <h4>Bridesmaid</h4>
                        <p>Hi, I'm Jackie! I am an Oncology Registered Nurse who’d choose In-N-Out over
                        Shake Shack any day, but has a special place in her heart for a New York bacon,
                        egg, and cheese on a toasted everything bagel.
                        How did I meet Sandra and Michael? Sandra was the first person who welcomed me when
                        I initially joined AACF, and Michael was the first person in college I met who also
                        had a nut allergy.
                        A quirky fact about myself is I can genuinely teach you how to Dougie
                        (or do the Wobble)!!! </p>
                        <br><br><br>

                        <img class="pic" style="width:40%; height:auto; padding:0 15px;
                        float:right;" src="/img/wedding_party/kathy_w.jpg">
                        <h3>Kathy Wu</h3>
                        <h4>Bridesmaid</h4>
                        <p>Hi, I'm Kathy! I've celebrated this beautiful couple since we adventured from
                        cooking glorious meals to taking out Mt. Cook in 2015, and am thrilled
                        to witness their growing old together in the years to come!</p>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                        <img class="pic" style="width:40%; height:auto; padding:0 15px;
                        float:right;" src="/img/wedding_party/kaitlyn_y.jpg">
                        <h3>Kaitlyn Yiu</h3>
                        <h4>Bridesmaid</h4>
                        <p>Hi, I'm Kaitlyn! In my second year of college, my first impression of Michael was
                        “the guy with crazy-good vocals”, who could always be seen with Sandra,
                        the super-sweet, generous, and open-hearted gal
                        who seemed to always be serving one way or other.
                        They soon went from AACF legends to fast and faithful friends, and being able to
                        grow, serve, and do life alongside them has truly been one of the
                        greatest joys and treasures.
                        To the couple whose love for God and each other strengthens many
                        others—I love you and congrats!! </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
