    <section id="meet_the_party" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row text-center">                
                        <div class="col-md-12 text-center">
                            <h2 class="section-heading">Meet The Party</h2>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <img class="pic" style="width:40%; height:auto; padding:0 15px;
                        float:left;" src="/img/wedding_party/kevin_placeholder.jpg">
                        <h3>Kevin Liu</h3>
                        <h4>Best Man</h4>
                        <p>Insert text here</p>
                        <br><br><br><br><br><br><br><br><br><br><br>

                        <img class="pic" style="width:40%; height:auto; padding:0 15px;
                        float:left;" src="/img/wedding_party/kevin_placeholder.jpg">
                        <h3>Warren Halliday</h3>
                        <h4>Groomsman</h4>
                        <p>Insert text here</p>
                        <br><br><br><br><br><br><br><br><br><br><br>

                        <img class="pic" style="width:40%; height:auto; padding:0 15px;
                        float:left;" src="/img/wedding_party/kevin_placeholder.jpg">
                        <h3>Andrew Hess</h3>
                        <h4>Groomsman</h4>
                        <p>Insert text here</p>
                        <br><br><br><br><br><br><br><br><br><br><br>

                        <img class="pic" style="width:40%; height:auto; padding:0 15px;
                        float:left;" src="/img/wedding_party/kevin_placeholder.jpg">
                        <h3>Raymond Low</h3>
                        <h4>Groomsman</h4>
                        <p>Insert text here</p>
                        <br><br><br><br><br><br><br><br><br><br><br>

                        <img class="pic" style="width:40%; height:auto; padding:0 15px;
                        float:left;" src="/img/wedding_party/kevin_placeholder.jpg">
                        <h3>Edward Yun</h3>
                        <h4>Groomsman</h4>
                        <p>Insert text here</p>
                        <br><br><br><br><br><br><br><br><br><br><br>

                        <img class="pic" style="width:40%; height:auto; padding:0 15px;
                        float:right;" src="/img/wedding_party/tina_placeholder.jpg">
                        <h3>Tina Sun</h3>
                        <h4>Matron of Honor</h4>
                        <p>Insert text here</p>
                        <br><br><br><br><br><br><br><br><br><br><br>

                        <img class="pic" style="width:40%; height:auto; padding:0 15px;
                        float:right;" src="/img/wedding_party/tina_placeholder.jpg">
                        <h3>Anna Lin</h3>
                        <h4>Bridesmaid</h4>
                        <p>Insert text here</p>
                        <br><br><br><br><br><br><br><br><br><br><br>

                        <img class="pic" style="width:40%; height:auto; padding:0 15px;
                        float:right;" src="/img/wedding_party/tina_placeholder.jpg">
                        <h3>Jackie Malabanan</h3>
                        <h4>Bridesmaid</h4>
                        <p>Insert text here</p>
                        <br><br><br><br><br><br><br><br><br><br><br>

                        <img class="pic" style="width:40%; height:auto; padding:0 15px;
                        float:right;" src="/img/wedding_party/tina_placeholder.jpg">
                        <h3>Kathy Wu</h3>
                        <h4>Bridesmaid</h4>
                        <p>Insert text here</p>
                        <br><br><br><br><br><br><br><br><br><br><br>

                        <img class="pic" style="width:40%; height:auto; padding:0 15px;
                        float:right;" src="/img/wedding_party/tina_placeholder.jpg">
                        <h3>Kaitlyn Yiu</h3>
                        <h4>Bridesmaid</h4>
                        <p>Insert text here</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
