    <section id="meet_the_party" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row text-center">                
                        <div class="col-md-12 text-center">
                            <h2 class="section-heading">Meet The Party</h2>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <h4>Best Man</h4>
                        <p>Insert text here</p>

                        <h4>Groomsman</h4>
                        <p>Insert text here</p>

                        <h4>Matron of Honor</h4>
                        <p>Insert text here</p>

                        <h4>Bridesmaid</h4>
                        <p>Insert text here</p>
                    </div>
                </div>
                <div class="col-md-4 pic">
                    <img class="pic" src="/img/wedding_party/kevin_placeholder.jpg">
                </div>

                <div class="col-md-4 pic">
                    <img class="pic" src="/img/wedding_party/tina_placeholder.jpg">
                </div>
            </div>
        </div>
    </section>
