    <section id="our_story" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-8"> -->
                <div class="col-md-12">
                    <div class="row text-center">                
                        <div class="col-md-12 text-center">
                            <h2 class="section-heading">Our Story</h2>
                        </div>
                    </div>

                    <div class="col-md-10 col-md-offset-1">
                        <img class="pic" style="width:37%; height:auto; padding:0 15px; float:left;" src="/img/engagement_photos/Sandra&Michael_24.jpg">
                        <p>
                        The story begins in NYU's Financial Accounting class during the spring semester of their freshman year. Sandra and her friend, Michelle, used to joke that Michael was the teacher's pet since he always answered the professor’s questions. In fact, it wasn’t until midway through the semester that he knew she was even in his class! She said hi to him outside of the Kimmel student center before the freshman business seminar, and embarrassingly he didn’t even recognize her. After that day, on the rare occasion that Sandra and Michael would sit next to each other, they would have small talk but that was the extent of their interactions.
                        <br><br>
Thankfully, during the summer both Michael and Sandra stayed in New York for their internships. Michael had heard about the summer fellowship hosted by NYU's Asian American Christian Fellowship (AACF) through a good friend and decided to check it out. At the first gathering, Michael happened to be placed in a bible study group that Sandra was leading!
<br><br>
The first occasion where they got to know each other on a more personal basis was during a picnic at Central Park, where everyone showed up an hour late—everyone except Michael and Sandra! Chatting during that picnic and becoming better acquainted through other AACF hangouts, movie premieres, and game nights, Michael began to develop feelings for Sandra. Midway through the summer Michael finally mustered up the courage to tell Sandra about his feelings for her and to ask if she wanted to start dating (or at least to start thinking about it). They started to meet up regularly at Cha An, a Japanese tea house in East Village, to see where things might lead.
<br><br>
Summer quickly came to an end, leaving Michael and Sandra with a tough decision to make. He had already committed to studying abroad in Ghana for the upcoming fall semester, whereas she had committed to Australia for the spring. Was it wise to start dating, knowing that they would be apart for the first year of their relationship? Likely not. So they ultimately decided that it was best to hold off. 
                    </div>

                    <div class="col-md-10 col-md-offset-1">
                        <img class="pic" style="width:37%; height:auto; padding:0 15px; float:right;" src="/img/engagement_photos/Sandra&Michael_25.jpg">
                        <p>
However... fate chose otherwise! Due to unforeseen circumstances that summer, NYU suddenly cancelled its program in Ghana, forcing Michael to come back to New York for the fall semester. On August 14th 2014, Michael took Sandra out for a nice dinner along the Hudson River, where they decided to make their relationship official!
<br><br>
Fast forward four and a half years to February 14th, 2019—Michael and Sandra had graduated from NYU and were both working in the city. Valentines Day was on a Thursday, so Michael had suggested they go out for a nice dinner on Friday instead to avoid the Valentines day crowd. Little did Sandra know, but Michael was trying to lower her expectations for Valentines Day so she would not suspect the proposal.
<br><br>
                        <img class="pic" style="width:37%; height:auto; padding:0 15px;
                        float:left;" src="/img/engagement_photos/teapot.jpeg">

That evening Michael brought Sandra to Cha An (full circle!) for a "casual" hangout over tea and dessert. As they were waiting for their tea, Michael read his Valentines day card to Sandra aloud, recounting memories of when they first met, precious times spent with their friends at NYU, fun moments traveling together, and tough trials that taught them how to better love each other. He then asked Sandra to open the teapot that was just served and in it (to Sandra's complete shock and surprise) was a ring!
<br><br>

Thank you for reading our story! God has been so good to us and we thank Him for the path, however winding, that led us to each other :). We are overjoyed to be celebrating our marriage with our beloved family and friends!</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
