    <section id="our_story" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-8"> -->
                <div class="col-md-12">
                    <div class="row text-center">                
                        <div class="col-md-12 text-center">
                            <h2 class="section-heading">Our Story</h2>
                        </div>
                    </div>

                    <div class="col-md-10 col-md-offset-1">
                        <img class="pic" style="width:40%; height:auto; padding:0 15px; float:left;" src="/img/engagement_photos/Sandra&Michael_24.jpg">
                        <h4>Her Side</h4>
                        <p>
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        </p>
                    </div>

                    <div class="col-md-10 col-md-offset-1">
                        <img class="pic" style="width:40%; height:auto; padding:0 15px; float:right;" src="/img/engagement_photos/Sandra&Michael_25.jpg">
                        <h4>His Side</h4>
                        <p>
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        This is filler text. This is filler text.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
