    <section id="our_story" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row text-center">                
                        <div class="col-md-12 text-center">
                            <h2 class="section-heading">Our Story</h2>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <h4>His Side</h4>
                        <p>Insert text here</p>

                        <h4>Her Side</h4>
                        <p>Insert text here</p>
                    </div>
                </div>
                <div class="col-md-4 pic">
                    <img class="pic" src="/img/engagement_photos/Sandra&Michael_25.jpg">
                </div>

                <div class="col-md-4 pic">
                    <img class="pic" src="/img/engagement_photos/Sandra&Michael_24.jpg">
                </div>
            </div>
        </div>
    </section>
