    <section id="registry" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pic">
                    <img class="pic" src="/img/engagement_photos/Sandra&Michael_02.jpg">
                </div>
                <div class="col-md-6">
                    <h2 class="section-heading text-center">REGISTRY</h2>

                    <p>As many of you know, we both moved to Evanston, Illinois this past
                    fall so that Michael could begin his PhD at Northwestern. Hence, we
                    have already acquired much of the major furniture and household items
                    for our current place. If you would like to give us a gift,
                    we would appreciate your donations to one of our various funds
                    (honeymoon, adventure, etc), which you can contribute to
                    <a href="https://www.zola.com/registry/caichangwedding">here</a>.
                    </p>

                    <p>If you would like to give a gift that is not cash, we have also
                    listed a few items in the registry, linked above.</p>
                </div>
            </div>
        </div>
    </section>
